
.row {
	position: relative;
	margin-left: 0;
	margin-right: 0;

	div.no-spacing {
		padding-left: 0;
		padding-right: 0;
	}

	div{
		img{
			display: inline-block;
			width: 100%;
		}
	}
}

.navbar-default {
	background-color: transparent;
	border: 0;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.content-wrapper .content .content-container .row > div.col-centered {
	float: none;
	margin: 0 auto;
}