
@media screen and (max-width: $mobile-width-wide) {
    .content {
        p {
            line-height: $copy-line-height-mobile;
            font-size: $copy-font-size-mobile;
        }

        a.btn {
            max-width: 100%;
            text-overflow: ellipsis;
            position: relative;
            overflow: hidden;
        }

        .micoin-wrapper {
            padding: 0;

            img {
                width: 67%;
                max-width: 250px;
                margin: 0 auto 10%;
                display: block;
            }
        }
    }
}
