

@media screen and (max-width: $mobile-width-wide) {
    #hero {
        height: 90vh;
        background-size: cover;
        min-width: 100%;
        min-height: inherit;

        &::before {
            background-size: 85%;
            background-position: center 52%;
        }
    }

    .content-wrapper .content .poker.content-container .row > div .youtube-wrapper {
        padding: 15px 35px;
    }

    .content-wrapper {
        max-width: 100%;

        .content {
            bottom: 20px;

            .content-container {

                .row {
                    > div.btn-spacer {
                        padding: 30px 0 0 0;
                    }

                    > div {
                        padding: 0;
                        margin: 0;

                        .youtube-wrapper {
                            padding: 0 35px 35px;
                        }
                    }
                }
            }

            .crypto {
                .headline-wrapper {
                    margin: 0 0 30px 0;
                }
            }

            .headline-wrapper {
                margin: 0 0 25px 0;

                &::before,
                &::after {
                    width: calc(50% - 115px);
                }

                .headline {
                    height: 75px;
                }
            }
        }
    }

    #crypto, #poker, #drones {
        bottom: 70px;
    }
}

@media screen and (max-width: $mobile-width) {

    .content-wrapper {
        .content {
            .headline-wrapper {

                &::before,
                &::after {
                    width: calc(50% - 30vw);
                }
            }
        }
    }
}
