
@media screen and (max-width: $tablet-width) {
    #hero {
        height: 75vh;
        background-size: cover;
        min-width: 100%;

        &::before {
            background-size: 85%;
            background-position: center 52%;
        }
    }

    .content-wrapper {
        padding: 0 10px;

        .content {
            .headline-wrapper {
                
                &::before,
                &::after {
                    width: calc(50% - 150px);
                }


                .headline {
                    max-width: 50%;
                    background-size: contain;
                }
            }

            .youtube-wrapper {
                margin: 1em 0;
            }
        }
    }
}
