
body {
    padding: 0;
    margin: 0;
    background-image: url('/images/bg-body.png');
    background-repeat: repeat;
}

#hero {
    background-image: url(/images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    max-width: 100%;
    min-width: 100%;
    height: 736px;
}

.content-wrapper {
    /*max-width: 90vw;*/
    margin: 0 auto;
    margin-bottom: -90px;

    .content {
        position: relative;
        bottom: 50px;
        min-height: 730px;
        width: 100%;
        background-position: center top;
        max-width: 1186px;
        /*padding: 0 2em;*/
        margin: 0 auto;

        .headline-wrapper {
            position: relative;
            text-align: center;
            margin: 0 0 50px;

            &::before,
            &::after {
                position: absolute;
                content: '';
                display: inline-block;
                width: calc(50% - 150px);
                height: 100%;
                background-image: url('/images/separator.png');
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 10px;
                background-size: 100% 31px;
                top: 0;
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }

            .headline {
                position: relative;
                display: inline-block;
                width: 250px;
                height: 115px;
                background-image: url('/images/crypto.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            .crytpo-headline {
                background-image: url('/images/crypto.png');
                width: 262px;
                height: 117px;
                background-size: 262px 117px;
            }

            .poker-headline {
                background-image: url('/images/poker.png');
                width: 211px;
                height: 94px;
                background-size: 211px 94px;
            }

            .drones-headline {
                background-image: url('/images/drones.png');
                width: 259px;
                height: 89px;
                background-size: 259px 89px;
            }
        }

        .content-container {
            margin-bottom: 70px;

            .row {
                > div.btn-spacer {
                    padding: 70px 0 0 0;
                }

                > div {
                    padding: 0;
                    margin: 0;


                    .youtube-wrapper {
                        padding: 35px;
                    }

                    .youtube-container {
                        position: relative;
                        width: 100%;
                        height: 0;
                        padding-bottom: 56.25%;

                        iframe {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }
        }

        .poker {

            &.content-container {

                .row {

                    > div {
                        .youtube-wrapper {
                            max-width: 640px;
                            margin: 0 auto;
                            padding: 0;
                        }
                    }
                }
            }

            .youtube-container {
                -webkit-box-shadow: 0px 0px 41px 3px rgba(23,122,77,1);
                -moz-box-shadow: 0px 0px 41px 3px rgba(23,122,77,1);
                box-shadow: 0px 0px 41px 3px rgba(23,122,77,1);
            }
        }

        .drones {
            .youtube-container {
                -webkit-box-shadow: 0px 0px 41px 3px rgba(76,33,100,1);
                -moz-box-shadow: 0px 0px 41px 3px rgba(76,33,100,1);
                box-shadow: 0px 0px 41px 3px rgba(76,33,100,1);
            }
        }
    }

    .content-spacer {
        margin: 0 20px;
    }
}

#crypto, #poker, #drones {
    position: relative;
    bottom: 120px;
}

footer {
    background-color: $bg-footer-color;

    div {
        padding: 1em 0;
        text-align: center;
        font-size: 1.25em;
        line-height: 1.25em;
        color: $footer-copy-color;
    }
}
